<section class="custom-card">
    <div class="custom-card-body">
        <h5 class="custom-card-title">{{title}}</h5>
        <p class="custom-card-text">{{body}}</p>
        <p class="custom-card-text"><small class="custom-text-muted">{{user}}</small></p>
    </div>
</section>