<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Unique Blog</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="my-container">
        <div class="my-header">
            <h1>ByteBanter</h1>
        </div>
        <div class="my-nav">
            <!-- Conditional Rendering for login and logout -->
            {{#if logged_in}}
                <a href="#" id="logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="my-content">
            {{{body}}}
        </div>
        <!-- Script for users who are logged in points to custom-logout.js -->
        {{#if logged_in}}
            <script src="./custom-logout.js"></script>
        {{/if}}
        <div class="my-footer">
            <p>&copy; 2023 - My Unique Blog</p>
        </div>
    </div>
</body>
</html>