<div class="my-post-container">
    <div class="my-post">
        <h2 class="my-post-title">{{title}}</h2>
        <p class="my-post-body">{{body}}</p>
        <p class="my-post-author">By {{user.username}}</p>
        <p class="my-post-date">Created on {{format_date created_at}}</p>
        <hr class="my-post-divider">
    </div>
</div>